* {
    box-sizing: border-box; margin: 0; padding: 0; font-family: 'Josefin Sans', sans-serif;
}
    body{

        margin: 0; background: rgba(252, 247, 255, 0.979);
     }
     html {
        font-size: 62.5%; 
      } 
      header{
          display:flex;   justify-content: start;  background-color: rgba(207, 113, 113, 0.123); margin-bottom: 16px;  ;
         
      }
       .navbar{ 
            display: flex;
         justify-content:flex-end;  
          padding: 0 24px; 
       }
       ul {
          display:flex; list-style: none; flex-direction: row; align-items: flex-start;
       }

       li{
           margin-left: 24px;
       }
      h1{
          font-size: 40px; color: rgb(82, 71, 71); padding: 0px; margin: 4px; margin-top: 12px; 
          }
       figure img{
           width: 70px; height: 70px;
       }
      .inicio{
             display: grid;  place-items: center; width: 100%;  height:100vh; margin: 24px; padding: 0; 
          gap: 36px; place-content: center;  grid-template-columns: repeat(auto-fill, 350px);
        
        }

        section{
           display: flex; flex-direction: column; width: 350px;  height: 260px; border-radius: 15px; 
       
        }
          
      h2{
        margin-bottom: 24px;  justify-items: center; color: rgb(244, 234, 247); margin-top: 8px;
    }
     
        .card, form{
            display: flex; place-items: center; flex-direction: column; 
         }
         label{
            margin-top: 8px; font-size: 16px; 
         }
         input{
             height: 24px; width: 90px; border-radius: 4px; border: 1px solid rgba(243, 193, 193, 0.836); font-size: 12px; background-color: rgba(255, 255, 255, 0.199);
         }
        .Cuadrado{
            background-color: rgb(224, 96, 96);   
            /* offset-x | offset-y | blur-radius | spread-radius | color */
           box-shadow: 2px 2px 2px 1px rgba(255, 113, 113, 0.473);
        }
        .Triangulo{ 
            background-color: rgb(250, 190, 167);   
            /* offset-x | offset-y | blur-radius | spread-radius | color */
           box-shadow: 2px 2px 2px 1px rgba(250, 190, 167, 0.61);
        }

          
        .Circulo{
            background-color: papayawhip;   
            /* offset-x | offset-y | blur-radius | spread-radius | color */
           box-shadow: 2px 2px 2px 1px rgba(255, 239, 213, 0.658);
         }
         .titulo-circulo{
             color: rgb(250, 190, 167); 
         }
    
      button{
          margin-top: 8px; border-radius: 8px; border: 2px solid rgb(241, 237, 241); justify-content: space-between; 
          background-color: rgb(250, 249, 255); color:rgb(40, 25, 78);  height: 30px; font-size: 14px;
      }

      @media (max-width: 740px) {
        h1{
            font-size: 28px; color: rgb(82, 71, 71); padding: 4px; margin: 0px; margin-top: 40px; 
        }  

        .inicio{
            width: 100%; height: auto;
        }
    }